.AppCont {
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  height: calc(100vh - 72px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  flex-direction: column-reverse;
}

.topPlays {
  position: relative;
  top: 0;
  height: fit-content;
}


@media (min-width: 700px) {
  .AppCont {
    flex-direction: row;
  }

  .topPlays {
    position: sticky;
  }
}

@media (max-width: 700px) {
  .topPlays {
    margin: 0;
    padding: 0;
  }
}
